section {
	background: url("../images/money-bg2.jpg");
}

[data-role='button'] {
	border: none !important;
}

.green-bg {
	background-color: #128f00 !important;
}

.red-bg {
	background-color: #a10000 !important;
}

.error {
	color: #a10000;
}

.footerBtn {
	bottom: 0;
	position: absolute !important;
	top: auto !important;
	width: 100%;
}

.footerBtn a {
	display: block;
	margin: 20px auto;
	width: 88%;
}

.page-title img {
	vertical-align: bottom;
}

h1 {
	font-size: 1.2em !important;
}
.parraf {
	font-size: 1.5em !important;
	margin-bottom: 10px !important;
}

/********* START *************/

#startLogo {
	width: 27%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #3984b6;
	padding: 50px;
	max-width: 128px;
	min-width: 128px;
}

#inicio {
	position: relative !important;
}

#inicio h2 {
	font-size: 2.5em!important;
	color: #3984b6;
}

#inicio p {
	font-size: 1.5em !important;
	color: #3984b6;
	margin-top: 45px;
}

#inicio main {
	position: relative !important;
	text-align: center;
}


/********* HOME *************/
#home main {
	margin-top: 33%;
}

#home h2 {
	font-size: 2.5em;
	color:#0071bc;
	text-align: center;
}

#home .p {
	font-size: 1.5em;
	font-weight:bold;
	color:#0071bc;
	text-align: center;
}

#irIngresos {
	margin-right: 0 !important;
}

/********* RESUMEN *************/
#resumen .fecha-mov {
	font-size: 11px;
	font-style: italic;
	color: #9d9d9d;
	display: inline-block;
	margin-right: 10px;
}

#resumen .span-mov {
	display: inline-block;
	position: absolute;
	right: 10px;
	font-size: 18px;
}

#resumen .resumen-total {
	text-align: center;
	font-size: 22px;
	color: white;
}

#resumen .resumen-total.green {
	background-color: #128f00;
}

#resumen .resumen-total.red {
	background-color: #a10000;
}

/********* INFO *************/
#creator img {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid grey;
}

#info table {
	width: 80%;
	margin: 0 auto;
}