
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#creator img {
		max-width: 55%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	#creator img {
		max-width: 60%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#creator img {
		max-width: 80%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1080px) {
	#creator img {
		max-width: 100%;
	}
}


